/*Secion header*/
body {
    font-family: Arial, sans-serif;
    margin: 0;
    /*padding: 0;*/
}
header {
    background-color: #d8b4f2;
    align-items: center;
    display: flex;
    justify-content: space-between; /* Asegura que los elementos estén distribuidos */ 
    padding: 0px 20px;
}

.left-header{
    display: flex;
    align-items: center;
}

.logo-image {
    vertical-align: middle;
}

.logotext-header {
    font-size: 25px;
    font-weight: bold;
    color: white;
    margin-left: 10px;; /* Asegura que no haya margen extra */
}

.sections{
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav ul li {
    margin-left: 20px;
}

nav ul li a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}
/* Sección principal */
.principal-images {
    display: flex;
    margin: 20px 0;
}

.principal-images img {
    width: 35%;
}

.central-text {
    text-align: center;
}

.central-box {
    display: inline-block;
    background-color: #d8b4f2;
    color: white;
    padding: 10px 20px;
    border-radius: 100px;
    font-weight: bold;
}

.info {
    display: flex;
    justify-content: space-around;
    margin: 20px 0;
}

.info-box {
    width: 30%;
    text-align: center;
    font-weight: bold;
}

/* Sección de Identidad, Misión y Visión*/

.separator {
    width: 20%;
    height: 5px;
    background-color: #d8b4f2;
    margin:  auto;
    border-radius: 100px;
}

section {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    margin-bottom: 20px; 
}

.section-header-imv {
    flex: 1;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    font-weight: bold;
    color: #d8b4f2;
    padding: 10px;
}

.section-content {
    flex: 2;
    font-size: 18px;
    padding: 10px;
}
/* Sección de Planificacion y Organizacion segura de eventos */
.planning {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.section-header-planif {
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    color: #d8b4f2;
    width: 100%;
    margin-bottom: 20px;
}

.planning-content {
    display: flex;
    justify-content: space-between;
    align-items: center; /* Centra verticalmente el contenido y la imagen */
    width: 100%;
    max-width: 1200px; /* Limita el ancho máximo de la sección */
}

.planning-content-1, .planning-content-2 {
    font-size: 18px;
    padding: 10px;
    width: 100%;
}

.content-container-planif {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 50%; /* Ajusta al 50% del contenedor */
}

.images-planif {
    display: flex;
    justify-content: start;
    width: 50%; /* Ajusta el ancho para centrar mejor */
}

.planif-image {
    width: 100%;
    max-width: 700px; /* Ajusta a un tamaño aceptable */
}